# ==============================================================================
# Template de Variáveis de Ambiente (Astro + Infra)
# ==============================================================================
PG_USER=seu_usuario_postgres
PG_PASSWORD=sua_senha_postgres
PG_DB=datawarehouse

MONGO_USER=seu_usuario_mongo
MONGO_PASSWORD=sua_senha_mongo