# ==============================================================================
# Template de Variáveis de Ambiente (Astro + Infra)
# ==============================================================================
POSTGRES_USER=dw_admin
POSTGRES_PASSWORD=dw_master_pass_123!
POSTGRES_DB=datawarehouse

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=mongo_master_pass_123!

# ==============================================================================
# Conexões do Apache Airflow
# ==============================================================================
AIRFLOW_CONN_POSTGRES_DW=postgresql://dw_admin:dw_master_pass_123!@postgres-dw:5432/datawarehouse
AIRFLOW_CONN_MONGO_SOURCE=mongodb://admin:mongo_master_pass_123!@mongo:27017/